# ASSIGNMENT CONFIG
generate: true
export_cell: false
files:
    - data
tests:
    files: true
check_all_cell: false

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

[https://github.com/MEDS-eds-220/eds220-hwk-1]()

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

*Update this markdown cell with your answer.*

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

In [1]:
import pandas as pd

coral_div = pd.read_csv('data/coral_data.csv')

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

# BEGIN QUESTION
name: q5_1
manual: false

a. how many rows and columns does it have?

# BEGIN SOLUTION

In [63]:
#a

coral_div.shape # SOLUTION NO PROMPT

(575, 42)

# END SOLUTION

# BEGIN TESTS

In [64]:
# HIDDEN
len(coral_div) == 575

True

In [66]:
# HIDDEN
len(coral_div.columns) == 42

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_2
manual: false

b. What are the column names? Store your answer in the `coral_div_columns` variable.

# BEGIN SOLUTION

In [5]:
#b
coral_div_columns = ...
coral_div_columns = coral_div.columns # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [6]:
# Hidden
expected_column_names = coral_div.columns.tolist()
list(coral_div_columns) == expected_column_names

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_3
manual: false

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

# BEGIN SOLUTION

In [37]:
#c
coral_div_types = ...
coral_div_types = coral_div.dtypes # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [50]:
# HIDDEN
assert coral_div_types.equals(coral_div.dtypes), "The data types of the columns do not match."

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_4
manual: false

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

# BEGIN SOLUTION

In [38]:
#d
first_8_rows = ...
first_8_rows = coral_div.head(8) # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [45]:
# HIDDEN
first_8_rows.Observer[0]== "Tim"

True

In [42]:
# HIDDEN
first_8_rows.Country[7]== "Tanzania"

True

In [43]:
# HIDDEN
len(first_8_rows)== 8

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_5
manual: true

e. some other inital information you are interested in.

# BEGIN SOLUTION

In [40]:
# e
coral_div[['Ecoregion', 'Habitat']].head() # SOLUTION NO PROMPT

                  Ecoregion           Habitat
0  East African Coral Coast             Crest
1  East African Coral Coast  Lagoon/Back reef
2  East African Coral Coast             Slope
3  East African Coral Coast             Slope
4  East African Coral Coast  Lagoon/Back reef

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q6_1
manual: true

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

# BEGIN SOLUTION

*Update this markdown cell with your answer.*

`int64` denotes a numerical variable that is an integer, or whole number. This differs from `float64` which denotes a float, a numerical variable with decimal places.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q7_1
manual: true

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

# BEGIN SOLUTION

In order to view or isolate all the rows within the `Country` column, you would use `coral_div.Country`. Depending on the length, the output may be condensed to only display a few of the columns. Since `coral_div.Country` is displaying all the rows, some of the countries will repeat. In order to print a list that only contains each country's name once, you would use `coral_div.Country.unique`.

# END SOLUTION

In [ ]:
# you may use this cell for scratch work

In [ ]:
# you may use this cell for scratch work

# END QUESTION

# BEGIN QUESTION
name: q8_1
manual: false

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [7]:
# solve exercise here

# BEGIN SOLUTION

In [52]:
unique_observers = ...
unique_observers = coral_div['Observer'].nunique() # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [54]:
# HIDDEN
unique_observers == 16

True

# END TESTS

# END QUESTION

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

# BEGIN QUESTION
name: q9_1
manual: true

a) What is `coral_div['Coralcover'] >= 50`?

# BEGIN SOLUTION

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q9_2
manual: true

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

In [ ]:
# you may use this cell for scratch work

In [ ]:
# you may use this cell for scratch work

*Update this markdown cell with your answer for a) and b)*

# BEGIN SOLUTION

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q10_1
manual: false

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

# BEGIN SOLUTION

In [14]:
coral_cover = ...
coral_cover = coral_div[ (coral_div.Country == 'Tanzania') & (coral_div.Coralcover == 30)] # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [16]:
# HIDDEN
len(coral_cover) == 9

True

In [27]:
# HIDDEN
coral_cover['SST_Skewness'].iloc[5] == -0.048007235

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q11_1
manual: false

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`PSS` column) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

# BEGIN SOLUTION

In [28]:
filtered_data = ...
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']] # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [30]:
# HIDDEN
len(filtered_data) == 575

True

In [34]:
# HIDDEN
filtered_data.Salinity_mean[4] == 35.102688

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q12_1
manual: false
points: 2

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

# BEGIN SOLUTION

In [38]:
sampling_2017 = ...
sampling_2017 = coral_div.loc[coral_div['max_yr']==2017, ['PH', 'Salinity_mean', 'Depth', 'max_yr']].head() # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [44]:
# HIDDEN
sampling_2017.Salinity_mean.iloc[0] == 35.1000845

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q13_1
manual: false
points: 1

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

# BEGIN SOLUTION

In [45]:
subset = ...
subset = coral_div.iloc[95:101, [16,19,27]] # SOLUTION NO PROMPT
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

# END SOLUTION

# BEGIN TESTS

In [58]:
# HIDDEN
assert len(subset) == 6

In [59]:
# HIDDEN
len(subset.columns) == 3

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q14_1
manual: true
points: 1

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [ ]:
# you may use this cell for scratch work

# BEGIN SOLUTION

The `isna()` function, is checking if there are any values that are missing, or not a number (NaN). From this table, we see that columns 99 and 100 are missing values for Current_vel_mean.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q15_1
manual: true
points: 1

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [ ]:
# you may use this cell for scratch work

# BEGIN SOLUTION

Adding .any() to the .isna() function presents similar information in a more concise manner. Instead of showing exactly where NaN values are in the data frame, df.isna().any() shows you which columns contain NaNs. It does this by presenting a list of True/False statements, where columns marked as True have missing values (NaN).

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q16_1
manual: false
points: 1

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

# BEGIN SOLUTION

In [55]:
subset_na = ...
subset_na = subset[subset['Current_vel_mean'].isna()] # SOLUTION NO PROMPT

# END SOLUTION

# BEGIN TESTS

In [56]:
# HIDDEN
len(subset_na) == 2

True

# END TESTS

# END QUESTION