# ASSIGNMENT CONFIG
generate: true
export_cell: false
files:
    - data
tests:
    files: true
check_all_cell: false

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

[https://github.com/MEDS-eds-220/eds220-hwk-1]()

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

# BEGIN QUESTION
name: q1
manual: true
points: 2


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

# BEGIN SOLUTION

Description: This dataset contains information on coral diversity within the Western Indian Ocean. A combination of environmental variables (pH, dissolved oxygen, salinity, etc.) and human variables (wilderness, travel distance, ports, etc.) were used in order to create models that predicted how different variables would shape coral communities.

Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Date of access: 2023-10-09

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q2
manual: true
points: 2

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# read in data
coral_div = pd.read_csv('the URL goes here')
```

# BEGIN SOLUTION

In [2]:
import pandas as pd #SOLUTION NO PROMPT
coral_div = pd.read_csv('data/coral_data.csv') # SOLUTION

# END SOLUTION

# END QUESTION

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

# BEGIN QUESTION
name: q3_a
manual: false
points: 1

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

# BEGIN SOLUTION

In [3]:
#a

rows = coral_div.shape[0] # SOLUTION
columns = coral_div.shape[1] # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [4]:
# HIDDEN
rows == 575

True

In [5]:
# HIDDEN
columns == 42

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_b
manual: false
points: 1

b. What are the column names? Store your answer in the `coral_div_columns` variable.

# BEGIN SOLUTION

In [6]:
#b
coral_div_columns = coral_div.columns # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [7]:
# Hidden
expected_column_names = coral_div.columns.tolist()
list(coral_div_columns) == expected_column_names

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_c
manual: false
points: 1

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

# BEGIN SOLUTION

In [8]:
#c
coral_div_types = coral_div.dtypes # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [9]:
# HIDDEN
assert coral_div_types.equals(coral_div.dtypes)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_d
manual: false
points: 1

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

# BEGIN SOLUTION

In [10]:
#d
first_8_rows = coral_div.head(8) # SOLUTION

In [1]:
#view the dataframe 
first_8_rows

NameError: name 'first_8_rows' is not defined

# END SOLUTION

# BEGIN TESTS

In [11]:
# HIDDEN
assert pd.read_csv('data/3d_df.csv').equals(first_8_rows)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_e
manual: true
points: 1

e. some other inital information you are interested in.

# BEGIN SOLUTION

In [12]:
# e
coral_div[['Ecoregion', 'Habitat']].head() # SOLUTION NO PROMPT

                  Ecoregion           Habitat
0  East African Coral Coast             Crest
1  East African Coral Coast  Lagoon/Back reef
2  East African Coral Coast             Slope
3  East African Coral Coast             Slope
4  East African Coral Coast  Lagoon/Back reef

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q4
manual: true
points: 1

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

# BEGIN SOLUTION

`int64` denotes a numerical variable that is an integer, or whole number. This differs from `float64` which denotes a float, a numerical variable with decimal places.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q5
manual: true
points: 2

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

# BEGIN SOLUTION

In order to view or isolate all the rows within the `Country` column, you would use `coral_div.Country`. Depending on the length, the output may be condensed to only display a few of the columns. Since `coral_div.Country` is displaying all the rows, some of the countries will repeat. In order to print a list that only contains each country's name once, you would use `coral_div.Country.unique`.

# END SOLUTION

In [13]:
# you may use this cell for scratch work

In [14]:
# you may use this cell for scratch work

# END QUESTION

# BEGIN QUESTION
name: q6
manual: false
points: 1

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

# BEGIN SOLUTION

In [15]:
unique_observers = coral_div['Observer'].nunique() # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [16]:
# HIDDEN
unique_observers == 16

True

# END TESTS

# END QUESTION

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

# BEGIN QUESTION
name: q7_a
manual: true
points: .5

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

# BEGIN SOLUTION

The output of coral_div['Coralcover'] >= 50 is a True/False pandas.Series, where rows with coral cover greater than or equal to 50% are True.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q7_b
manual: true
points: .5

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

In [17]:
# you may use this cell for scratch work

In [18]:
# you may use this cell for scratch work

# BEGIN SOLUTION

We are selecting rows of the data frame where the percent of hard coral cover in the surveyed cell is greater than or equal to 50%.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q8
manual: false
points: 1

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

# BEGIN SOLUTION

In [19]:
coral_cover = coral_div[ (coral_div.Country == 'Tanzania') & (coral_div.Coralcover == 30)] # SOLUTION

In [ ]:
#view the dataframe
coral_cover

# END SOLUTION

# BEGIN TESTS

In [20]:
# HIDDEN
assert pd.read_csv('data/q8_df.csv',  index_col=0).equals(coral_cover)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q9
manual: false
points: 1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`PSS` column) (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

# BEGIN SOLUTION

In [21]:
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']] # SOLUTION

# END SOLUTION

In [22]:
#view the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

# BEGIN TESTS

In [23]:
# HIDDEN
assert pd.read_csv('data/q9_df.csv',  index_col=0).equals(filtered_data)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q10
manual: false
points: 2

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

# BEGIN SOLUTION

In [24]:
sampling_2017 = coral_div.loc[coral_div['max_yr']==2017, ['PH', 'Salinity_mean', 'Depth', 'max_yr']].head() # SOLUTION

In [ ]:
#view the dataframe 
sampling_2017

# END SOLUTION

# BEGIN TESTS

In [25]:
# HIDDEN
assert pd.read_csv('data/q10_df.csv',  index_col=0).equals(sampling_2017)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q11
manual: false
points: 2

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

# BEGIN SOLUTION

In [26]:
subset = coral_div.iloc[95:101, [16,19,27]] # SOLUTION

In [ ]:
#view the dataframe
subset

# END SOLUTION

# BEGIN TESTS

In [27]:
# HIDDEN
assert pd.read_csv('data/q11_df.csv',  index_col=0).equals(subset)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q12
manual: true
points: 1

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [28]:
# you may use this cell for scratch work

# BEGIN SOLUTION

The `isna()` function, is checking if there are any values that are missing, or not a number (NaN). From this table, we see that columns 99 and 100 are missing values for Current_vel_mean.

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q13
manual: true
points: 1

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [29]:
# you may use this cell for scratch work

# BEGIN SOLUTION

Adding .any() to the .isna() function presents similar information in a more concise manner. Instead of showing exactly where NaN values are in the data frame, df.isna().any() shows you which columns contain NaNs. It does this by presenting a list of True/False statements, where columns marked as True have missing values (NaN).

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q14
manual: false
points: 1

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

# BEGIN SOLUTION

In [30]:
subset_na = subset[subset['Current_vel_mean'].isna()] # SOLUTION

In [ ]:
#view the dataframe 
subset_na

# END SOLUTION

# BEGIN TESTS

In [31]:
# HIDDEN
assert pd.read_csv('data/q14_df.csv',  index_col=0).equals(subset_na)

# END TESTS

# END QUESTION